<div class="container">
  <div class="row">
    <div class="panel col-md-12 col-md-12">
      <h1 class="lead">Editing Campaign: <span><%= @campaign.name %></span></h1>
      <%= render 'form' %>
      <%= link_to 'Back', campaigns_path %>
    </div>
  </div>

</div>
