<div class="container">
  <div class="row">
    <div class="panel col-md-12 col-md-12">
      <h1>New Recipient List</h1>
      <%= render 'form' %>
      <%= link_to 'Back', recipient_lists_path %>
    </div>
  </div>

</div>