<div class="container">
  <div class="row">
    <div class="panel col-md-12 col-md-12">
      <p>
        <strong>List Name:</strong>
        <%= @recipient_list.name %>
      </p>

      <p>
        <strong>Email Address List:</strong>
        <%= @recipient_list.list %>
      </p>

      <%= link_to 'Edit', edit_recipient_list_path(@recipient_list) %> |
      <%= link_to 'Back', recipient_lists_path %>
    </div>
  </div>

</div>


